<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Localizar CEP</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input type="text" label="CEP" labelPlacement="floating" (ionBlur)="buscarEndereco()" id="cep"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Rua/Avenida" labelPlacement="floating" id="logradouro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Bairro" labelPlacement="floating" id="bairro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Localidade" labelPlacement="floating" id="localidade"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Complemento" labelPlacement="floating" id="complemento"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="UF" labelPlacement="floating" id="uf"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Estado" labelPlacement="floating" id="estado"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Região" labelPlacement="floating" id="regiao"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="IBGE" labelPlacement="floating" id="ibge"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="Gia" labelPlacement="floating" id="gia"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="DDD" labelPlacement="floating" id="ddd"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="SIAFI" labelPlacement="floating" id="siafi"></ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>