<ion-header>
  <ion-toolbar>
    <ion-title>Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="flex-center">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="../../assets/matheus-user.jpg" />
      </ion-thumbnail>
    </div>
    <ion-card-title>Matheus Bomfim Ferreira Fonseca</ion-card-title>
    <p>Turma: ADS0301M</p>
    <p>Turno: Manhã</p>
    <p>Unidade: Bonsucesso</p>
  </ion-card>

  <ion-button color="success" size="full" (click)="redirecionar()">Localizar CEP</ion-button>
</ion-content>